html {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

body {
	font-family: 'Merriweather', serif;
	font-size: ;
}

header {
	background-color: #d05c2e;
	color: white;
	text-align: center;
	margin: 0em;
	padding-top: 1em;
}

ol li{
	border: 2px solid #a93f35;
	padding: 0.6em 1em;
	display: block;
	float: left;
	width: 33.33333333%;
}

ol a {
	text-decoration: none;
	color: white;

}

ol {
	list-style-type: none;
	text-align: center;
	padding: 0;
	overflow: hidden;
}

figcaption {
	font-style: italic;
}

.top-grain {
	width: 40%;
	float: left;
	margin-right: 1em;
}

.top-cereals, .top-quinoa {
	width: 40%;
	float: right;
}

.top-quinoa {
	clear: right;
	margin-top: 1em;
	margin-left: 0.25em;
}

div {
	background-color: #dc8252;
	color: white;
}

ol li:hover {
	background-color: #a93f35;
}
