html {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

body {
	font-family: 'Merriweather', serif;
	font-size: 1em;
	margin: 0em;
}

img {
	width: 100%;
}

h2 {
	text-align: center;
}

header {
	background-color: #d05c2e;
	color: white;
	text-align: center;
	margin: 0em;
	padding-top: 0.75em;
}

.left-grain {
	width: 60px;
	float: left;
	padding-top: 1em;
}

.right-grain {
	width: 60px;
	float: right;
	padding-top: 1em;
}

ol li{
	border: 2px solid #a93f35;
	padding: 0.6em 1em;
	display: block;
	float: left;
	width: 33.33333333%;
}

ol a {
	text-decoration: none;
	color: white;

}

ol {
	list-style-type: none;
	text-align: center;
	padding: 0;
	overflow: hidden;
}

ol li:hover {
	background-color: #a93f35;
}

figcaption {
	font-style: italic;
	text-align: center;
	clear: both;
	padding-bottom: 0.5em;
}

.image-grain {
	width: 40%;
	float: left;
	margin-right: 1em;
	padding-left: 0.5em;
}

.image-cereals, .image-quinoa {
	width: 40%;
	float: right;
	margin-left: 0.5em;
	padding-right: 0.5em;
}

.image-quinoa {
	clear: right;
	margin: 1em 0em;
	display: inline-block;
}

.famous {
	padding-top: 0.2em;
}

footer {
	color: #e69861;
	background-color: #d05c2e;
	text-align: center;
	font-size: 0.75em;
	padding: 0.5em;
	clear: both;
}


div {
	background-color: #dc8252;
	color: white;
	overflow: hidden;
	clear: both;
}

.figure-corn {
	width: 100%;
	margin: 0em;
	padding: 0em;
	float: left;
	display: inline-block;
}

.figure-rice {
	margin: 0em;
	float: left;
	width: 50%;
}

.figure-oats {
	margin: 0em;
	float: right;
	width: 50%;
}

}

.p2 {
	clear: left;
	padding-left: 0.5em;
	padding-top: 0.5em;
}

ul {
	list-style-type: none;
	margin: 0em;
	padding: 0em;
}

ul li {
	float: left;
	display: inline-block;
	margin-top: 1em;
}

ul img {
	border: 1px solid black;
	width: 30%;
	float: left;
	margin: 0em 0.5em 1em 1em;
}

em {
	font-weight: bold;
}
